---
# tasks file for kubernetes
- name: Install plugins
  ansible.builtin.dnf:
    name: "{{ packages_required }}"
    state: present

- name: add Kubernetes' YUM repository
  yum_repository:
   name: Kubernetes
   description: Kubernetes YUM repository
   baseurl: https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
   gpgkey: https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
   gpgcheck: yes

- name: install kubelet
  yum:
     name: kubelet-1.14.0
     state: present
     update_cache: true

- name: install kubeadm
  yum:
    name: kubeadm-1.14.0
    state: present

- name: start kubelet
  service:
    name: kubelet
    enabled: yes
    state: started


- name: install kubectl
  yum:
     name: kubectl-1.14.0
     state: present
     allow_downgrade: yes

...