---
# tasks file for kubernetes
- name: Install plugins
  ansible.builtin.dnf:
    name: "{{ packages_required }}"
    state: present

- name: Add Kubernetes YUM repo
  ansible.builtin.copy:
    dest: /etc/yum.repos.d/kubernetes.repo
    content: |
      [kubernetes]
      name=Kubernetes Packages
      baseurl=https://pkgs.k8s.io/core:/stable:/v1.35/rpm/
      enabled=1
      gpgcheck=1
      gpgkey=https://pkgs.k8s.io/core:/stable:/v1.35/rpm/repodata/repomd.xml.key

- name: Install kubectl
  ansible.builtin.yum:
    name: kubectl
    state: present

- name: install kubelet
  yum:
     name: kubelet
     state: present
     update_cache: true

- name: install kubeadm
  yum:
    name: kubeadm
    state: present

- name: start kubelet
  service:
    name: kubelet
    enabled: yes
    state: started

- name: Add Helm repo
  ansible.builtin.yum_repository:
    name: helm
    description: Helm repo
    baseurl: https://baltocdn.com/helm/stable/rpm/
    gpgcheck: no

- name: Install Helm
  ansible.builtin.yum:
    name: helm
    state: present

...