---
# tasks file for kubernetes
- name: Install plugins
  ansible.builtin.dnf:
    name: "{{ packages_required }}"
    state: present

- name: Add Kubernetes YUM repo
  ansible.builtin.copy:
    dest: /etc/yum.repos.d/kubernetes.repo
    content: |
      [kubernetes]
      name=Kubernetes Packages
      baseurl=https://pkgs.k8s.io/core:/stable:/v1.35/rpm/
      enabled=1
      gpgcheck=1
      gpgkey=https://pkgs.k8s.io/core:/stable:/v1.35/rpm/repodata/repomd.xml.key

- name: Install kubectl
  ansible.builtin.yum:
    name: kubectl
    state: present

- name: install kubelet
  yum:
     name: kubelet
     state: present
     update_cache: true

- name: install kubeadm
  yum:
    name: kubeadm
    state: present

- name: start kubelet
  service:
    name: kubelet
    enabled: yes
    state: started

- name: Download kind binary
  ansible.builtin.get_url:
    url: "https://kind.sigs.k8s.io/dl/v0.31.0/kind-linux-amd64"
    dest: /usr/local/bin/kind
    mode: '0755'

- name: Download k9s rpm
  ansible.builtin.get_url:
    url: "https://github.com/derailed/k9s/releases/download/v0.50.18/k9s_linux_amd64.rpm"
    dest: /tmp/k9s.rpm
    mode: '0644'

- name: Install k9s rpm
  ansible.builtin.dnf:
    name: /tmp/k9s.rpm
    state: present
    disable_gpg_check: true

- name: Remove rpm file
  ansible.builtin.file:
    path: /tmp/k9s.rpm
    state: absent
...