services:
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    networks:
      - appnet

  backend:
    build: ./backend
    environment:
      - DB_HOST=db
      - POSTGRES_DB= ${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
    ports:
      - "5010:5000"
    networks:
      - appnet

  db:
    image: postgres:14
    environment:
      - POSTGRES_DB= ${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

volumes:
  pgdata:

networks:
  appnet: